.document {
  background-color: aliceblue;
}

.main-title {
  font-size: 2em;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
  margin-top: 25px;
}

/************************ Search Bar ************************/

.search-bar {
  margin: 20px;
  text-align: center;
  height: 50px;
  font-size: 1.1em;
  font-weight: 300;
  font-family: sans-serif;
}

.search-bar input {
  width: 60%;
  border: 1px solid black;
  box-shadow: 7px 7px 5px grey;
}

.search-btn {
  background-color: white;
  font-weight: 500;
  padding: 3px 5px;
  cursor: pointer;
  margin: 15px;
  border: 1px solid black;
  box-shadow: 7px 7px 5px grey;
}

.search-btn:hover {
  background-color: lightgrey;
}

/************************ Video Item ************************/

.list-item {
  margin-left: 10px;
  cursor: pointer;
  background-color: black;
  margin-bottom: 20px;
  margin-right: 10px;
}

.video-list {
  background-color: white;
  border: 1px solid black;
  box-shadow: 7px 7px 5px grey;
}

.media-heading {
  font-size: 1em;
  font-weight: bold;
  padding-top: 5px;
  padding-right: 7px;
}

.media-body {
  font-size: .85em;
}

.video-item img {
  max-width: 64px;
}

/************************ Video Details ************************/

.embed-video {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: black;
  box-shadow: 7px 7px 5px grey;
  margin-bottom: 20px;
}

.video-detail .details {
  font-size: .9em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: whitesmoke;
  border: 1px solid black;
  box-shadow: 7px 7px 5px grey;
}

.details-title {
  font-size: 1.2em;
  font-weight: bold;
}

/************************ Video List ************************/

nav ul {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 600px;
}

/************************ Helper ************************/

.center-element {
  margin: auto;
  display: block;
}
